/* Calendario.css */
.calendario-container {
  text-align: center;
  margin: 20px;
  margin: 0 auto;
  max-width: 70%;
}

.navegacao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.navegacao button {
  margin: 0 10px;
}

.calendario {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.calendario th,
.calendario td {
  border: 1px solid #ddd;
  padding: 8px;
}

.calendario th {
  background-color: #f2f2f2;
  color: black;
}

.calendario td {
  background-color: #f9f9f9;
  vertical-align: top;
}
